<div class="container">

    <h3>Relacion Marcas, Modelos y Tipo de Conector</h3>
    <!-- Formulario para asociar una marca con un modelo y tipo de conector -->
    <form action="/admin/vermarcas/guardar" method="POST">
        <!-- Desplegable de Marcas -->
        <div class="form-group my-3">
            <label for="ID_MARCA" class="form-label">Marca:</label>
            <select id="ID_MARCA" class="form-control" name="ID_MARCA" required>
                <option value="" disabled selected>Selecciona una marca</option>
                {{#each marcas}}
                <option value="{{ID_MARCA}}">{{MAR_NOMBRE}}</option>
                {{/each}}
            </select>
        </div>
        <!-- Desplegable de Modelos -->
        <div class="form-group my-3">
            <label for="ID_MODELO" class="form-label">Modelo:</label>
            <select id="ID_MODELO" class="form-control" name="ID_MODELO" required>
                <option value="" disabled selected>Selecciona un modelo</option>
                {{#each modelos}}
                <option value="{{ID_MODELO}}">{{MOD_NOMBRE}}</option>
                {{/each}}
            </select>
        </div>
        <!-- Desplegable de Tipos de Conector -->
        <div class="form-group my-3">
            <label for="ID_TC" class="form-label">Tipo de Conector:</label>
            <select id="ID_TC" class="form-control" name="ID_TC" required>
                <option value="" disabled selected>Selecciona un tipo de conector</option>
                {{#each tipos_conectores}}
                <option value="{{ID_TC}}">{{TC_NOMBRE}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group d-grid my-3">
            <button class="btn btn-success">Guardar Relación</button>
        </div>
    </form>
</div>
<div class="container">
    <h3>Datos relacionados:</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Tipo de Conector</th>
            </tr>
        </thead>
        <tbody>
            {{#each resultados}}
            <tr>
                <td>{{MAR_NOMBRE}}</td>
                <td>{{MOD_NOMBRE}}</td>
                <td>{{TC_NOMBRE}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>